<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--日志存放路径-->
    <property name="log.path" value="./logs"/>
    <!--日志输出格式-->
    <property name="log.pattern" value="%d{HH:mm:ss.SSS}[%thread]%-5level%logger{20}-[%method,%line]-%msg%n"/>
    <!--控制台输出-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <!--minio日志输出-->
    <appender name="minio" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/minio.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--按天回滚daily-->
            <fileNamePattern>${log.path}/minio.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!--日志最大的历史60天-->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>
    <!--hiksdk日志输出-->
    <appender name="hiksdk" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/hiksdk.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--按天回滚daily-->
            <fileNamePattern>${log.path}/hiksdk.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!--日志最大的历史60天-->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>
    <!--Spring日志级别控制-->
    <logger name="org.springframework" level="warn"/>

    <!--控制台打印日志等级-->
    <root level="INFO">
        <appender-ref ref="console"/>
    </root>

    <!--minio日志打印等级-->
    <logger name="minio" level="INFO">
        <appender-ref ref="minio"/>
    </logger>
    <!--hiksdk日志打印等级-->
    <logger name="hiksdk" level="INFO">
        <appender-ref ref="hiksdk"/>
    </logger>
</configuration>
